# macOS system files
.DS_Store
**/.DS_Store
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/
**/.ipynb_checkpoints/
**/.virtual_documents/
# You might also want to ignore other temporary files if needed

